.background-down {
    //  transform: scale(.5) translateX(-50%);
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        transform: scale(0.7) translateX(-50%);
    }

    @media only screen and (min-width: 500px) and (max-width: 768px) {
        transform: scale(0.6) translateX(-50%);
    }

    @media only screen and (max-width: 500px) {
        transform: scale(0.35) translateX(-100%);
    }
}

.shapeDown {
    position: absolute;
    font-size: 16px;
}
.shapeDown:nth-child(1) {
    bottom: -5em;
    left: -9em;
}
.shapeDown:nth-child(2) {
    bottom: -4em;
    left: 14.5em;
}
.shapeDown:nth-child(3) {
    bottom: 2.5em;
    left: -9em;
    z-index: 2;
}
.shapeDown:nth-child(4) {
    bottom: 5.5em;
    left: 7.5em;
    z-index: 2;
}
.shapeDown:nth-child(5) {
    bottom: -1.7em;
    left: 23.5em;
    z-index: 2;
}
.shapeDown:nth-child(6) {
    bottom: 1em;
    left: 11em;
    z-index: 1;
}
.shapeDown:nth-child(7) {
    bottom: -4em;
    left: 2.5em;
    z-index: 1;
}
.shapeDown:nth-child(8) {
    bottom: -1em;
    left: 28em;
    z-index: 2;
}
.shapeDown:nth-child(9) {
    bottom: -4em;
    left: 31em;
}
.shapeDown:nth-child(10) {
    bottom: -1em;
    left: 53em;
}
.shapeDown:nth-child(11) {
    bottom: -3em;
    left: 60em;
}
